* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      font-family: 'Raleway', sans-serif;
}

header {
      color: #000;
      max-width: 768px;
      margin: 0 auto;
      padding: 1.5rem;
      text-align: center;
}

header h1 {
      font-size: 2rem;
}

header p {
      font-size: 1rem;
      letter-spacing: .179rem;
}

.container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 2rem;
}

.divider {
      border: 1px solid #DBDADB;
      margin-bottom: 1.7rem;
}

h3 {
      font-size: 1.3rem;
      letter-spacing: .2rem;
}

h4 {
      font-size: 1.1rem;
      letter-spacing: .197rem;
      margin-bottom: 1.5rem;
}

.sum_info, .edu_info, .skill_info, .lang_info {
      color: #000;
      text-align: left;
}

.sum_info p {
      font-size: 1.1rem;
      letter-spacing: .2rem;
      line-height: 1.5;
      margin-bottom: 1.7rem;
}

.edu_info li, .skill_info li, .lang_info li, .sum_info li {
      color: #000;
      font-size: 1.1rem;
      letter-spacing: .2rem;
      line-height: 1.5;
      margin-bottom: 1.7rem;
}





@media only screen and (min-width: 1024px) {

      .container {
            padding: 5rem;
      }

      .divider {
            margin-bottom: 2.5rem;
      }

      header h1 {
            font-size: 2.5rem;
      }

      header p {
      font-size: 1.4rem;
      }

      h3 {
            font-size: 1.5rem;
      }

      h4 {
            font-size: 1.4rem;
            margin-bottom: 1.7rem;
      }

      .sum_info p {
            font-size: 1.4rem;
            margin-bottom: 1.5rem;
      }


      .edu_info li, .skill_info li, .lang_info li, .sum_info li {
            font-size: 1.4rem;
            line-height: 1.5;
            margin-bottom: 1.8rem;
      }
}





@media only screen and (min-width: 1200px) {

      
      header h1 {
            font-size: 2.5rem;
      }

      header p {
            font-size: 1.5rem;
            letter-spacing: .159rem;
      }

      h3 {
            font-size: 2rem;
            letter-spacing: .2rem;
      }

      h4 {
            font-size: 1.9rem;
            letter-spacing: .159rem;
            margin-bottom: 2.5rem;
      }

      .sum_info p {
            font-size: 1.5rem;
            letter-spacing: .319rem;
            line-height: 1.5;
            margin-bottom: 2.5rem;
      }


      .edu_info li, .skill_info li, .lang_info li, .sum_info li {
            font-size: 1.5rem;
            line-height: 1.7;
            margin-bottom: 2.5rem;
      }
}

